@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}


.menu-link{
  color: black;
  text-transform: uppercase;
}

.section-title{
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
  font-size: 24px;
}

.title{
  font-size: 24px;
  line-height: 1.1;
}

.image{
  object-fit: contain;
}

.press-item{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 14px 0;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1{
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 60px;
}

.main-logo svg{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
  width: auto;
  top: 0;
}

.book-page{
  margin-top: 30px;
}

.info{
  border-top: 1px solid black;
  padding-top: 48px;
  margin-top: 48px;
}

.info p{
  max-width: 800px;
}

.main-logo.center-logo svg{
  height: 180px!important;
  width: auto;
}

.main-logo.center-logo svg path:nth-child(2){
  fill: white!important;
}