@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@font-face {
  font-family: 'Inclusive Sans';
  src: url('./InclusiveSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inclusive Sans';
  src: url('./InclusiveSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inclusive Sans', sans-serif;
  font-size: 24px;
}


.menu-link{
  color: black;
  text-transform: uppercase;
}

.section-title{
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
  font-size: 24px;
}

.title{
  font-size: 24px;
  line-height: 1.1;
}

.image{
  object-fit: contain;
}

.press-item{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 14px 0;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1{
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 60px;
}

.main-logo img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.7s ease;
}

.book-page{
  margin-top: 30px;
}

.info{
  border-top: 1px solid black;
  padding-top: 48px;
  margin-top: 48px;
}

.info p{
  max-width: 800px;
}

.button{
  border-radius: 25px;
}

.main-logo.center-logo img{
  width: 100%!important;
  height: 100%;
}

.main-logo.logo-white img{
  filter: brightness(0) invert(1);
}

.main-logo.logo-black img{
  filter: none;
}

@media screen and (max-width: 600px) {
  body, a.menu-link{
    font-size: 18px;
  }
}